body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;

  margin: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  background: black;
}

.box {
  width: 50%;
  height: 100vh;
}

.left {
  flex: 1;

  background: #2e71fd;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#subtext {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
  text-transform: lowercase;
  align-self: center;
  text-align: center;
}

h1 {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  color: #fff;
  font-size: 4em;
  font-weight: 900;
}

.applinks {
  flex-direction: row;
  display: flex;
  padding: 20px;
}

.mini {
  width: 100%;
}

.up {
  flex-direction: column;
  display: flex;
  flex: 1;
  background: white;
  justify-items: center;
  align-items: center;
}

.lottie {
  display: flex;

  justify-content: center;
  margin: 0px;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.headline {
  padding: 20px;

  color: #2e71fd;
  font-size: 4em;
  font-weight: 900;
  margin-top: 40px;
  margin-right: auto;

  margin-left: auto;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  border-bottom-left-radius: 0px;
}

.giveawaybutton {
  width: 55px;
  height: 55px;

  color: #1f67a8;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 3px solid #1f67a8;
  border-radius: 50px;
  margin: 0px;
  border-radius: 50px;
}

.giveawaybutton:hover {
  color: #cccccc;
  font-weight: bold;
  border: 3px solid lightgrey;
}

#prizeplayer {
  width: 275px;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
}

.down {
  flex: 1;
  background: black;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#content {
  margin: 0;

  height: 100%;
}

.anim {
  margin-right: auto;
  margin-left: auto;

  height: 250px;
  width: 250px;
}

.submain {
  height: 500px;
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.local {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selfdestruct {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anonymous {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h6 {
  color: black;
  font-size: 4em;
  font-weight: 900;
}

h3 {
  color: #2e71fd;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;

  font-size: 2em;
  font-weight: 900;
  margin: 0px;
  text-align: center;
}

h4 {
  color: #1f67a8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  width: 450px;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

footer {
  background: black;
  color: #000;
  padding: 40px 40px;
  display: flex;
  flex-direction: row;
}

p {
  color: #9cbcff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  width: 350px;

  text-align: center;
}

a {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#contact {
  text-align: center;
  align-self: center;
  margin-top: 340px;
}

a:hover {
  color: #cccccc;
  font-weight: bold;
}

nav {
  float: left;
  margin-top: 40px;
  position: relative;
  left: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  padding: 40px;
  border-radius: 50px;
  margin-top: 200px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}

#branding {
  float: left;
  position: relative;
  left: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 20px 0 20px;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }

  footer {
    width: 100%;
    flex-direction: column;
  }

  #prizeplayer {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .submain {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .applinks {
    flex-direction: column;
    display: flex;
    padding: 20px;
  }
}
